<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AreaFigurasWebServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="AreaFigurasWebServiceSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44320/AreaFigurasWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="AreaFigurasWebServiceSoap"
                contract="AFigurasServiceReference.AreaFigurasWebServiceSoap"
                name="AreaFigurasWebServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>